body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2F33;
}

h1 {
    color: white;
    margin-left: 0.75rem;
}

main {
    margin-top: 10rem;
    text-align : center;
}

a {
    text-decoration: underline #2C2F33;
    color: black;
}