body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2F33;
}

h1 {
    color: white;
    margin-left: 0.75rem;
}

main {
    margin-top: 10rem;
    text-align : center;
}

a {
    text-decoration: underline #2C2F33;
    color: black;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #2c2f33;
    font-size: 15px;
    padding: 2rem;
    color: white;
}

.footer-links {
    font-size: 18px;
    color: #fbf207;
    margin-bottom: 2rem;
}

.left-part, .right-part {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-part img {
    width: 40%;
    margin-bottom: 1rem;
}

.left-part p {
    margin-bottom: 1rem;
}

.right-part a {
    text-decoration: underline #fbf207;
    color: white;
    margin-top: 1.75rem;
}
