* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #2c2f33;
    background-color: #2c2f33;
}

.logo {
    margin-left: 1rem;
    width: 20%;
    cursor: pointer;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    position: relative;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}

.nav-link::before {
    content: '';
    height: 2px;
    bottom: 0;
    background: #fbf207;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    position: absolute;
}

.nav-link:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

.api::before {
    width: 6%;
}

.home::before {
    width: 9.2%;
}

.server::before {
    width: 25%;
}

.commands::before {
    width: 18%;
}

/* button {
    margin-left: 30px;
} */

.image-mobile {
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        top: -150%;
        flex-direction: column;
        left: 0;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: all 0.8s ease-in;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }

    .nav-link:hover {
        color: #fbf207;
    }

    .nav-menu.active {
        top: 0%;
        padding: 10px;
        background-color: #2c2f33;
        height: 100%;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        -webkit-transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        width: 50%;
    }

    /* .login-with-discord {
        margin-bottom: 20px;
    } */

    .nav-menu li {
        margin-bottom: 60px;
    }

    .image-mobile {
        display: flex;
        justify-content: center;
        visibility: visible;
    }
}

@media screen and (min-width: 1500px) {
    ul {
        width: 55%;
    }

    nav {
        font-size: 20px;
    }

    .api::before {
        width: 6%;
    }
    
    .home::before {
        width: 3.3%;
    }

    .server::before {
        width: 10%;
    }
    
    .commands::before {
        width: 8%;
    }
}

/* .login-with-discord {
    margin-right: 1rem;
    padding: 1px 5px;
    background-color: #7289da;
    color: white;
    border: none;
    cursor: pointer;
} */

.nav-menu.active .logo {
    display: flex;
    justify-content: center;
}

.active {
    color : #fbf207;
}

h1 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-size: 25px;
}

footer::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #2c2f33;
    font-size: 15px;
    padding: 2rem;
    color: white;
}

.footer-links {
    font-size: 18px;
    color: #fbf207;
    margin-bottom: 1rem;
}

.left-part, .right-part {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-part img {
    width: 40%;
    margin-bottom: 1rem;
}

.left-part p {
    margin-bottom: 1rem;
}

.right-part a {
    text-decoration: underline #fbf207;
    color: white;
    margin-top: 1.75rem;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.credit-midouwebdev {
    text-align: center;
}

.credit-midouwebdev a {
    text-decoration: none;
    color: #fbf207;
}

.introducing-api {
    color: white;
    text-align: center;
}

body {
    background-color: #2c2f33;
}

.attribution {
    margin-top: 3rem;
    font-size: 16px;
}

.vyvy {
    color: #fbf207;
}

.introducing-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 6rem;
    margin-bottom: 3rem;
    background-color: white;
    padding: 2.5rem;
}

h3 {
    font-size: 16px;
}

.link {
    font-size: 16px;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline #fbf207;
}
