body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.header, .coming-soon, .attribution {
    background-color: #2C2F33;
    padding: 1rem;
}

.logo {
    width: 8%;
}

h1 {
    margin-left: 2rem;
    color: white;
    text-transform: uppercase;
}

h1, h4, .attribution {
    color: white;
}

.description {
    padding: 3rem;
}

.description, .coming-soon, .attribution {
    text-align: center;
}

h2 {
    text-decoration-line: underline;
    text-decoration-style: double;
    margin-bottom: 2rem;
}

h3 {
    line-height: 1.5;
}

.bot-menu {
    margin-top: 2rem;
    width: 40%;
}

h4 {
    margin-bottom: 2rem;
}

.coming-soon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
}

a::before {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    background: #fbf207;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    position: absolute;
}

a:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

.devs {
    text-decoration: underline #fbf207;
}

@media screen and (max-width:600px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo {
        width: 20%;
    }
    .bot-menu {
        width: 100%;
    }
}