* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.logo {
    margin-left: 1rem;
    width: 20%;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2F33;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-link {
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-link::before {
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    background: #fbf207;
    transform-origin: 100% 0;
    transform: scaleX(0);
    transition: transform 0.4s;
    position: absolute;
}

.nav-link:hover::before {
    transform-origin: 0 0;
    transform: scaleX(1);
}

.login-with-discord, .invite-the-bot {
    margin-right: 1rem;
    padding: 1px 5px;
    background-color: #7289DA;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1500px) {
    ul {
        width: 55%;
    }
    nav {
        font-size: 18px;
    }
}

@media screen and (min-width:940px) and (max-width:1024px) {
    .logo {
        width: 28%;
    }
}

@media screen and (max-width:940px) {
    .logo {
        width: 50%;
    }
    nav ul , nav .login-with-discord{
        display: none;
    }
}
