.legals * {
    background: #2C2F33;
}

.legals ::-webkit-scrollbar {
    width: 7px;
}
  
.legals ::-webkit-scrollbar-track {
    background: #2C2F33; 
}
   
.legals ::-webkit-scrollbar-thumb {
    background: #738ADB;
}
  
.legals ::-webkit-scrollbar-thumb:hover {
    background: #F9F871;
}

.legals .body {
    font-family: 'Lexend Deca', cursive;
    padding: 0px 30px;
    background: #2C2F33;
    color: white;
}

.legals h1, .legals h2 {
    color: #F9F871;
    text-align: center;
    margin-top: 5rem;
    text-decoration: none;
    margin-bottom: 2rem;
}

.legals h1 {
    font-size: 32px;
}

.legals h2 {
    font-size: 24px;
}

.legals p {
    font-size: 17px;
}

.legals ul {
    margin: 2rem;
    font-size: 16px;
}

.legals li {
    list-style-type: disc;
    margin-left: 2rem;
}

.legals .last {
    margin-bottom: 4rem;
}

.legals .credit-midouwebdev {
    text-align: center;
}

.legals .credit-midouwebdev a {
    text-decoration: none;
    color: #fbf207;
}
