/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2F33;
}

h1 {
    margin-left: 0.75rem;
    color: white;
}

.logo {
    width: 8%;
} */