.container-error * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-error h1 {
    margin-top: 20rem;
    margin-bottom: 2rem;
    font-size: 70px;
    color: white;
}

.container-error .sub-title {
    font-size: 32px;
    color: #fbf207;
    margin-bottom: 2rem;
}

.container-error .info {
    font-size: 30px;
    color: white;
}

.container-error .action-button {
    margin-top: 8rem;
    font-size: 25px;
    padding: 10px;
    text-decoration: underline #fbf207;
    color: white;
    background: #2c2f33;
    margin-bottom: 8rem;
}

.container-error .logo {
    margin: 0 auto;
}

@media screen and (max-width: 950px) {
    .container-error .logo {
        width: 70%;
    }
}

@media screen and (max-width: 360px) {
    .container-error .sub-title,
    .container-error .info {
        font-size: 20px;
    }

    .container-error .action-button {
        font-size: 18px;
    }
}
